.heading{
    text-align: center;
    font-size: 50px;
}

.container div{
  margin: 15px 0;
}

.container{
  margin-left: 30%;
}

.form{
  width: 100%;
}

.form a{
  text-transform: capitalize;
  font-size: 20px;
}

.form input{
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border: 2px solid blue;
}

.address {
  width: 500px;
}

.row2{
  margin-top: 30px;
}

.phone {
  margin-right: 30px;
}

.comment{
  position: relative;
  top: 20px;
}

.age{
  border: 2px solid;
  width: 60px;
  padding-left: 15px !important;
}

.button{
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: blue;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
}

.button:hover{
   background-color: rgb(2, 2, 77);
   padding: 12px 32px;
}

.container a{
  margin-right: 20px;
}